
.parent{
    display: flex;
    border:  black;
    gap: 5px;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: 10%;

}
.box1{
    display: flex;
    border: 1px solid rgb(22, 20, 20);
    height:400px;
    width:300px;
    padding: 1px;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in;
    border-radius: 20px;
}
.box2{
    display: flex;
    border: 1px solid rgb(22, 20, 20);
    height:400px;
    width:300px;
    padding: 1px;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in;
    border-radius: 20px;
}
.box3{
    display: flex;
    border: 1px solid rgb(22, 20, 20);
    height:400px;
    width:300px;
    padding: 1px;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in;
    border-radius: 20px;
}
img{
    height:100px;
    width: 100px;
    border-radius: 10pc;
}
.box1:hover{
    background-color: chartreuse;
    
}
.box2:hover{
    background-color: silver;
}
.box3:hover{
    background-color: gold;
}