.calculator{
    height:360px;
    width:380px;
    border:2px solid black;
    margin: auto;
    background-color: lightgray;    
}

.display{
    height:60px;
    width:350px;
    border:2px solid black;
    margin: auto;
    margin-top:10px;
    background-color: white;
    font-size:40px;
    text-align:right;
    align-content: end;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   padding: 10px;
   background-color: rgb(135, 26, 26);
   
}

.btn{
    border:2px solid black;
    background-color: white;
    margin:left;
    margin-top:10px;
    font-size:40px;
    cursor: pointer;
    text-align: center;
    margin-left:5px;
     
   
}



















/*


*calculator{
    background-color: lightgray;
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
 

}
*button{
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
}
.btn{
    width: 85px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
}
 

*/