*{
    box-sizing: border-box;
}
.parent{
    display:flex;
    gap:5px;
    width: 80%;
    padding:10px;
    flex-wrap: wrap;
}
.box1{
    background-color:red;
    color: white;
    text-align:center;
    padding: 10px;
    width:30%;
  
}
.box2{
    background-color:green;
    color: white;
    text-align:center;
    padding: 10px;
    width:30%;
   
}
.box3{
    background-color:blue;
    color: white;
    text-align:center;
    padding: 10px;
    width:30%;
   
} 

 