/* .box3{
    padding:10px;
    width:328;px;
}
@media(orientation: portrait){
    body{
        background-color: lightblue;
    }
} */



.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
    text-align:center;
    color:white;
    margin-top: 20px;
    flex-wrap: wrap;
}
.box1{ 
    width: 32%;
    height: 400px;
    background-color: blueviolet;
    border : 2px solid black;
    padding-top: 40px;
    /* padding-bottom: 20px; */
    border-radius:20px;
}
.box2{
    width: 32%;
    height: 400px;
    background-color:silver;
    border : 2px solid black;
    padding-top: 40px;
    /* padding-bottom: 20px; */
    border-radius:20px;
}
.box3{
    width: 32%;
    height: 400px;
    background-color:goldenrod;
    border : 2px solid black;
    padding-top: 40px;
    /* padding-bottom: 20px; */
    border-radius:20px;
}
img{
    max-width: 50%;
    max-width:auto;
    border-radius: 50%;
    object-fit: cover;  
    margin-top: 20px;
}
@media (max-width: 800px){
    .parent{
        flex-direction: column;
        align-items: center;
    }
    .box1, .box2, .box3{
        width: 80%;
        margin-bottom: 20px;
    }
}
.box1:hover {
    background-color:darkblue;
    transform: scale(1.05);
    transition: 0.3s;
}
.box2:hover {
    background-color: darkgray;
    transform: scale(1.05);
    transition: 0.3s;
}
.box3:hover {
    background-color: red;
    transform: scale(1.05);
    transition: 0.3s;
}