.container{
    /* display: grid; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
}
.box{
    height: 220px;
    width: 220px;
    border: solid 2px black;
    background-color: red; 
    margin:5px;
     
}
.container:hover .box1{
    background-color: blue;
    transform: translate(-100px ,-100px);
    transition: all 0.5s ease-in-out;
    /* object-fit: cover;*/
    background-size: 100% 100%;
}
.container:hover .box2{
    background-color: blue;
    transform: translate(100px ,-100px);
    transition: all 0.5s ease-in-out;
}
.container:hover .box3{
    background-color: blue;
    transform: translate(-100px ,100px);
    transition: all 0.5s ease-in-out;
}
.container:hover .box4{
    background-color: blue;
    transform: translate(100px ,100px);
    transition: all 0.5s ease-in-out;
}