
.container {
  width: 600px;
  height: 600px;
  background-color: grey;
  margin: 0 auto;
}

.box1 {
  width: 200px;
  height: 200px;
  border: 10px solid red;
  box-sizing: border-box;
}

.box2 {
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    box-sizing: border-box;
    position: sticky;
    top: 100px ;
}
.box3 {
  width: 200px;
  height: 200px;
  border: 10px solid green;
  box-sizing: border-box;
}
